.Cart{
  height: 100vh;
  width: 100vw;
  padding: 80px 0 100px 0;
  .CartContainer {
    li {
      list-style: none;
    }
    span {
      color: black;
    }
    color: black;
    padding: 50px;
    border: 1px solid black;
    margin: 0 auto;
    width: 700px;
    height: 100%;
    .CartMainTitle{
      margin-bottom: 30px;
    }
    .CartCollection {
      .CartBox{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        .CartName {
          display: flex;
          margin-left: 10px;
          .CartArtist {
            
          }
          .CartTitle {
            margin-left: 10px;
          }
        }
        .CartPriceBox {
          display: flex;
        }
        .CartName {
          margin-left: 5px;
        }
      }
      .TotalPrice {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .a {
          
        }
        .i {
          font-weight: bold;
          margin: 0 5px 0 5px;
        }
      }
    }
    .ChargesBox {
      margin: 10px 0;
      text-align: right;
    }
    .BackLinkBox {
      justify-content: flex-end;
      .BackLink {
        display: block;
        text-align: right;
        color: black;
      }
    }
  }
}
