.NewArrival {
  width: calc(100vw - 200px);
  font-size: 20px;
  .News{
    .NewsBox{
      margin: 10px 0;
      padding-left: 20px;
    }
  }
  .NewArrivalList{
    display: flex;
    font-size: 12px;
    a {
      text-decoration: none;
      color: black;
    }
    .Product {
      width: 200px;
      height: 250px;
      font-weight: bold;
      .picture {
        width: 160px;
        height: 160px;
      }
    }
  }
}