.SideBar{
  width: 250px;
  margin-right: 30px;
  .Category {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    margin-top: 10px;
    li {
      margin-bottom: 5px;
    }

    .SideBarGenre {
      color: black;
      font-size: 18px;
      text-decoration: none;
    }
  }
}