.FormHeader{
  background-color:#11943d;
  width: 100%;
  height: 50px;
  a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    font-weight: bold;
    line-height: 50px;
    font-size: 18px;
  }
}
.NewFormBox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
  .ProductForm{
    padding: 40px;
    .imageUpload {
      height: 150px;
      outline:1px solid black;
      display: block;
      display: flex;
      cursor: pointer;
      .prev-content {
        display: flex;
        .preview-box {
          height: 150px;
          width: 124px;
            .upper-box {
              height: 124px;
              width: 100%;
              img{
              width: 124px;
              height: 124px;
            }
            }
          .lower-box {
            display: flex;
            text-align: center;
            .delete-box {
              width: 100%;
              height: 26px;
              line-height: 26px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              .delete-btn {
                line-height: 40px;
                width: 60px;
              }
            }
          }
        }
      }
      //投稿クリックエリアのCSS
      .label-content{
        margin-bottom: 10px;
        width: 620px;
        .label-box {
          display: block;
          outline: 1px solid black;
          position: relative;
          width: 100%;
          height: 150px;
          cursor: pointer;
          &__text-visible {
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            font-weight: bold;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            pointer-events: none;
            white-space: pre-wrap;
            word-wrap: break-word;
          }
        }
      }
      //file_fieldのcss
      .hidden-content {
        .hidden-field {
          display: none;
        }
        .hidden-checkbox {
          display: none;
        }
      }
    }
    .InputBox{
      padding: 0 40px;
      .NewLabelBox{
        font-size: 15px;
        margin-top: 5px;
      }
      .FormField {
        margin-top: 5px;
        .NewProductForm {
          padding:0 10px;
          width: 100%;
        }
        .NewProductText {
          width: 100%;
          padding:0 10px;
          margin-bottom: 15px;
        }
      }
      .FormBtn {
        display: flex;
        justify-content: center;
        .NewProductSubmit {
          display: block;
          width: 300px;
          height: 50px;
          border-radius: 5px;
        }
      }
    }
  }
}