.NewFormWrapper
  = render 'admins/products/admin_header'
  .NewFormBox
    = form_with model: [:admins, @message], local: true, class: "ProductForm" do |f|
      .NewMessageBox
        .NewMessageTitle 新着情報入力
        = f.text_field :content
        = f.submit value = "投稿する", class: "NewMessageSubmit"